.vscode/
.DS_Store
**/__pycache__/

# Configuración sensible
config/

# Archivos generados
img/**/*.html

# Archivos grandes que no se suben
data/Actividades/DatosPosicionamiento/Puntos VMS.csv
data/Actividades/mapa_interactivo_Act1.html

